BeautifulSoup==3.2.1
CherryPy==3.2.3
Flask==0.10.1
Flask-WTF==0.9.5
GnuPGInterface==0.3.2
Jinja2==2.7.2
Mako==0.7.1
MarkupSafe==0.15
PAM==0.4.2
PIL==1.1.7
Routes==1.13
Twisted-Core==12.2.0
Twisted-Names==12.2.0
Twisted-Web==12.2.0
UniConvertor==1.1.4
WTForms==1.0.5
WebOb==1.1.1
Werkzeug==0.9.4
adium-theme-ubuntu==0.3.3
apt-xapian-index==0.44
argparse==1.2.1
chardet==2.0.1
configglue==1.0
cssutils==0.9.10b1
debtagshw==0.1
defer==1.0.6
dirspec==4.0.0
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.28dev-r0
dnspython==1.10.0
duplicity==0.6.19
feedparser==5.1.2
gevent==0.13.7
greenlet==0.3.3
gunicorn==19.1.1
httplib2==0.7.4
itsdangerous==0.24
jockey==0.9.7
lxml==2.3.5
mechanize==0.2.5
mercurial==2.2.2
mysql-connector-python==0.3.2-devel
mysql-utilities==1.0.3
numpy==1.6.2
oauth==1.0.1
oauthlib==0.3.0
oneconf==0.2.9.1
paramiko==1.7.7.1
pexpect==2.4
piston-mini-client==0.7.2
protobuf==2.4.1
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pygame==1.9.2a0
pygpgme==0.2
pyinotify==0.9.3
pyparsing==1.5.6
pyserial==2.5
pysmbc==1.0.13
pysqlite==2.6.3
python-apt==0.8.7ubuntu4.1
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu1
pyxdg==0.20
reportlab==2.5
repoze.lru==0.5
requests==0.12.1
sessioninstaller==0.0.0
simplejson==2.6.1
six==1.1.0
software-center-aptd-plugins==0.0.0
system-service==0.1.6
trash-cli==0.12.7
tweepy==2.3.0
uTidylib==0.2
ubuntuone-couch==0.3.0
ubuntuone-storage-protocol==4.0.0
unity-lens-photos==0.9
unity-lens-video==0.3.14
unity-scope-video-remote==0.3.10
urllib3==1.3
usb-creator==0.2.23
vboxapi==1.0
virtualenv==1.9.1
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.2.4
xkit==0.0.0
zope.interface==3.6.1
