<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>8 tracks Gem Finder</title>
        <meta name="description" content="Looks up gem certified mixes within 8tracks using the site's API">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>

        <!-- Add your site or application content here -->
        <h2 style> 8 Tracks Gem Finder </h2>
        <h4 style> Enter tags </h4> 
        <h5 style> Add '+' to add multiple tags</h5>
        <form action='/' method="POST">
        <input name="queryBox" id="queryBox" placeholder="eg: korean + instrumental" value="korean"> </input><br/>
        <h4 style> Certification </h4>
        Diamond <input type="checkbox" name="certification" value="diamond"><br />
        Platinum <input type="checkbox" name="certification" value="platinum" checked><br />
        Gold <input type="checkbox" name="certification" value="gold"><br />
        Gem <input type="checkbox" name="certification" value="gem"><br />
        <input type="submit" value="Submit">
        </form>
        <table>
        {% if dictionary_list %}
            {% for node in dictionary_list %}
                {% for key, value in node.iteritems() %}
                    <tr>
                        {% if key == 'path' %}
                            <td>{{ key }}</td>
                            <td><a href={{ "http://8tracks.com"+value }} target="_blank">{{ "8tracks.com"+value }}</a></td>
                        {% else %}
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endif %}
        </table>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
