<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>8 tracks Gem Finder</title>
        <meta name="description" content="Looks up gem certified mixes within 8tracks using the site's API">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css')}}">
        <link href="{{ url_for('static', filename = 'jquery-ui-1.11.1.custom/jquery-ui.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename = 'FooTable-2/css/footable.core.css')}}" rel="stylesheet" type="text/css" />
        <script src="{{ url_for('static', filename = 'jquery-ui-1.11.1.custom/external/jquery/jquery.js')}}"></script>
        <script src="{{ url_for('static', filename = 'jquery-ui-1.11.1.custom/jquery-ui.js')}}"></script>
        <script>
            $(function() {
                $( "#gem_checkbox").buttonset();
            });

            $(function() {
                $( "input[type=submit], a, button" )
                  .button()
            });
        </script>
    <body>
        <div id="left_nav">
        <h2> 8 Tracks Gem Finder </h2>
        <h4> Enter tags </h4> 
        <h5> Add '+' to add multiple tags</h5>
        <form action='/' method="POST">
        {% if session['query'] %}
        <input name="queryBox" id="queryBox" placeholder="eg: korean + instrumental" value={{session['query'] | e}}> </input><br/>
        {% else %}
        <input name="queryBox" id="queryBox" placeholder="eg: korean + instrumental" value=""> </input><br/>
        {% endif %}

        <h4 style> Select Certification </h4>
        <div id="gem_checkbox">
        {% if session['gem'] %}
            {% set diamond = [] %}
            {% set platinum = [] %}
            {% set gold = [] %}
            {% set gem = [] %}
            
            {# Checks session value saving of certification checkboxes #}
            {% for value in session['gem'] %}
                {% if value == 'diamond' %}
                    {% if diamond.append(1) %}
                    {% endif %}
                {% endif %}
                {% if value == 'platinum' %}
                    {% if platinum.append(1) %}
                    {% endif %}
                {% endif %}
                {% if value == 'gold' %}
                    {% if gold.append(1) %}
                    {% endif %}
                {% endif %}
                {% if value == 'gem' %}
                    {% if gem.append(1) %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {# Sets checkboxes depending on users choice#}
            {% if not diamond %}
                <input type="checkbox" name="certification" value="diamond" id="diamond"><label for="diamond">Diamond</label><br />
            {% else %}
                <input type="checkbox" name="certification" value="diamond" id="diamond" checked><label for="diamond">Diamond</label><br />
            {% endif %}
            {% if not platinum %}
                <input type="checkbox" name="certification" value="platinum" id="platinum"><label for="platinum">Platinum</label><br />
            {% else %}
                 <input type="checkbox" name="certification" value="platinum" id="platinum" checked><label for="platinum">Platinum</label><br />
            {% endif %}
            {% if not gold %}
                <input type="checkbox" name="certification" value="gold" id="gold"><label for="gold">Gold   </label><br />
            {% else %}
                <input type="checkbox" name="certification" value="gold" id="gold" checked><label for="gold">Gold   </label><br />          
            {% endif %}
            {% if not gem %}
                <input type="checkbox" name="certification" value="gem" id="gem"><label for="gem">Gem   </label><br />
            {% else %}
                <input type="checkbox" name="certification" value="gem" id="gem" checked><label for="gem">Gem   </label><br />
            {% endif %}

        {% else %}
            <input type="checkbox" name="certification" value="diamond" id="diamond"><label for="diamond">Diamond</label><br />
            <input type="checkbox" name="certification" value="platinum" id="platinum" checked><label for="platinum">Platinum</label><br />
            <input type="checkbox" name="certification" value="gold" id="gold"><label for="gold">Gold</label><br />
            <input type="checkbox" name="certification" value="gem" id="gem"><label for="gem">Gem</label><br />
        {% endif %}
        <br />
        </div>
        <input type="submit" value="Go!">
        </form>
    </div>
    <div id="mid_nav">
        
        {% if dictionary_list %}
            {% for node in dictionary_list %}
                <table class="result_table" >
                {% for key, value in node.iteritems() %}
                        {% if key == 'image' %}
			                <tr>
                            <td class="mid_nav_img"><img src={{ value }} alt="mix_cover"></td>
                            <td></td>
                            </tr>
                        {% elif key == 'path' %}
                            <tr>             
                            <td class="mid_nav_path"><a href={{ "http://8tracks.com"+value }} target="_blank">Link</a></td>
                            <td></td>
                        </tr>
                        {% else %}
                            <tr>
                            <th>{{ key }}</td>
                            <td>{{ value }}</td>
                            </tr>
                        {% endif %}
                {% endfor %}
                </table>
            {% endfor %}
        {% else %}
            <h3 class="mid_nav_message">Find popular mixes</h3>
        {% endif %}
        
    </div>
        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
